{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create A Book Review</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "reviews_list" %}">Back to List</a>
            </nav>
        </header>
        <main>
            <div class="book-review-form"> 
                <form action="" method="post">
                    <form method="post">
                        {%csrf_token%}
                        {{form.as_p}}
                    </form>
                    <div>
                        <button type="button">Submit</button>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <div>Copyright 2022 by «Cise B.»</div>
            <p>This is my site that contains the reflection of coding</p>
        </footer>
    </body>
</html>
