{% load static %}
<!DOCTYPE html>
<html lan="en">
    <head>
        <title>Book Reviews</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "create_review" %}">Create a Review</a>
            </nav>
        </header>
        <main>
            {% for review in reviews %}
            <div class="main-page-book-review"><img class="book-cover" src="https://mks.io/make-it-stick.jpg "alt="The beatiful book cover.">
                <nav>
                    <a href="detail.html">make it stick</a>
                </nav>
                <div class=" book-rating">4 stars</div>
                <div class="book-authors">by Peter C. Brown, Henry L. Roediger III, Mark A McDaniel</div>
            
                <h3>Summary</h3>
                <p>
                    This book is the most informative book! I love reading and I hope I could find some time beside of coding:)!
                </p>
            </div>
            
            <div class="main-page-book-review">
                <img class="book-cover" src="{{ review.cover_image}}">
                <h2 class="book-title">
                    <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
                </h2>
                <div class="book-rating">{{review.rating}} stars</div>
                <div class="book-authors">
                    {{review.authors}}
                </div>
                <h3>Summary</h3>
                <p>
                    {{review.summary}}
                </p>
            </div>
            {% endfor %}
        </main>
        <footer>
            <div>Copyright 2022 by «Cise B.»</div>
            <p>This is my site that contains the reflection of coding</p>
        </footer>
    </body>
    
</html>